<header>
    <div class="inner">
        <div class="site-header-content">
            <h1 class="site-title">
                    <a href="https://circa1984.net">{{@site.title}}</a>
            </h1>
            <ul class="nav">
            <li class="social"><a href="https://instagram.com/leschosesvivantes">instagram</li>
            <li class="social"><a href="https://mastodon.social/@gregoiremarty">mastodon</li>
            <li class="social"><a href="https://circa1984.net/rss/">rss</li>
            </ul>
        </div>
    </div>
</header>
